{% extends 'dashbord_student/student_base.html' %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
{% block content %}
    <div class="col-lg-9">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-header border-bottom">
                <h4 class="card-header-title">اطلاعات پایه</h4>
              </div>

              <!-- Body -->
              <div class="card-body">
                <form method="post" action="{% url 'dashbord:profile' pk=request.user.id %}"  enctype="multipart/form-data" >

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">عکس پروفایل</label>
                    <div class="col-sm-9">
                      <!-- Media -->
                      <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                          <img id="avatarImg" class="avatar-img" src="{{ extra_user_data.image.url }}" alt="Image Description">
                        </label>

                        <div class="d-grid d-sm-flex gap-2 me-4" >
                          <div class="js-file-attach-reset-img btn btn-white btn-sm">
                            {{ form.image }}
                          </div>
                          <!-- End Avatar -->
                            {% csrf_token %}

                          <button type="submit"  class="form-attachment-btn btn btn-primary btn-sm" >بارگذاری تصویر</button>
                        </div>
                      </div>
                      <!-- End Media -->
                    </div>
                  </div>
                  <!-- End Form -->
                </form>
                <form>
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label"> نام کامل <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Displayed on public forums, such as Front." data-bs-original-title="نام و نام خانوادگی"></i></label>

                    <div class="col-sm-9">
                      <div class="input-group">
                        <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="محمد" aria-label="Clarice" value="{{ user_data.first_name }}">
                        <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="محمدی" aria-label="Boone" value="{{ user_data.last_name }}">
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="emailLabel" class="col-sm-3 col-form-label form-label">ایمیل</label>

                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email" id="emailLabel" placeholder="example@gimal.com" aria-label="clarice@example.com" value="">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="js-add-field row mb-4" >
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">تلفن </label>

                    <div class="col-sm-9">
                      <div class="input-group">
                        <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="" data-hs-mask-options="{
                                 &quot;mask&quot;: &quot;+{0}(000)000-00-00&quot;
                               }">

                        <!-- Select -->
                        <div class="tom-select-custom">
                        <select class="js-select-dynamic form-select" data-name="additionlPhoneSelect"
                          data-hs-tom-select-options='{
                                    "width": "8rem",
                                    "hideSearch": true
                                  }'>
                          <option value="itself" selected>شخصی</option>
                          <option value="father">پدر</option>
                          <option value="mather">مادر</option>
                        </select>
                      </div>
                      <!-- End Select -->

                        <!-- End Select -->
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->
                  <!-- Form -->
                  <div class="js-add-field row mb-4" >
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">تلفن2 <span class="form-label-secondary">(اختیاری)</span></label>

                    <div class="col-sm-9">
                      <div class="input-group">
                        <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="" data-hs-mask-options="{
                                 &quot;mask&quot;: &quot;+{0}(000)000-00-00&quot;
                               }">

                        <!-- Select -->
                        <div class="tom-select-custom">
                        <select class="js-select-dynamic form-select" data-name="additionlPhoneSelect"
                          data-hs-tom-select-options='{
                                    "width": "8rem",
                                    "hideSearch": true
                                  }'>
                          <option value="itself" selected>شخصی</option>
                          <option value="father">پدر</option>
                          <option value="mather">مادر</option>
                        </select>
                      </div>
                      <!-- End Select -->

                        <!-- End Select -->
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->
                  <!-- Form -->
                  <div class="js-add-field row mb-4" >
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">تلفن3 <span class="form-label-secondary">(اختیاری)</span></label>

                    <div class="col-sm-9">
                      <div class="input-group">
                        <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="" data-hs-mask-options="{
                                 &quot;mask&quot;: &quot;+{0}(000)000-00-00&quot;
                               }">

                        <!-- Select -->
                        <div class="tom-select-custom">
                        <select class="js-select-dynamic form-select" data-name="additionlPhoneSelect"
                          data-hs-tom-select-options='{
                                    "width": "8rem",
                                    "hideSearch": true
                                  }'>
                          <option value="itself" selected>شخصی</option>
                          <option value="father">پدر</option>
                          <option value="mather">مادر</option>
                        </select>
                      </div>
                      <!-- End Select -->

                        <!-- End Select -->
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->
                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">جنسیت</label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-md-down-break">
                        <!-- Radio Check -->
                        <label class="form-control" for="genderTypeRadio1">
                          <span class="form-check">
                            <input type="radio" class="form-check-input" name="genderTypeRadio" id="genderTypeRadio1">
                            <span class="form-check-label">مرد</span>
                          </span>
                        </label>
                        <!-- End Radio Check -->

                        <!-- Radio Check -->
                        <label class="form-control" for="genderTypeRadio2">
                          <span class="form-check">
                            <input type="radio" class="form-check-input" name="genderTypeRadio" id="genderTypeRadio2" checked="">
                            <span class="form-check-label">زن</span>
                          </span>
                        </label>
                        <!-- End Radio Check -->
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                    <label class="col-sm-3 col-form-label form-label">تاریخ تولد</label>
                    {{ form.age }}





                  <!-- Form -->
                  <div class="row align-items-center">
                    <label for="disableAdCheckbox" class="col-sm-3 col-form-label form-label">غیرفعال کردن تبلیغات <span class="badge badge-primary text-uppercase ms-1">پرو</span></label>

                    <div class="col-sm-9">
                      <!-- Check -->
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="disableAdCheckbox">
                        <label class="form-check-label" for="disableAdCheckbox">با حساب حرفه ای خود، می توانید تبلیغات
                          را در سراسر سایت غیرفعال کنید.</label>
                      </div>
                      <!-- End Check -->
                    </div>
                  </div>
                  <!-- End Form -->
                </form>
              </div>
              <!-- End Body -->

              <!-- Footer -->
              <div class="card-footer pt-0">
                <div class="d-flex justify-content-end gap-3">
                  <a class="btn btn-white" href="javascript:;">لغو</a>
                  <a class="btn btn-primary" href="javascript:;">ذخیره تغییرات</a>
                </div>
              </div>
              <!-- End Footer -->
            </div>
            <!-- End Card -->

          </div>
        </div>
{% endblock %}
</body>
</html>